


nav {
    /*font-family: Arial, Helvetica, sans-serif; */
    font-weight: 700;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #42494c;
    display: flex;
    text-align: start;
    flex-direction: row;
}



.side-nav a {
    padding-left: 40px;
    padding-right: 40px;
    justify-content: flex-end;
    align-items: center;
    color: rgb(14, 12, 12);
    font-weight: 700;
    margin-right: auto;
    font-size: large;
    
}

h1 {
    justify-content: flex-start;
    text-align: start;
    float: left;
    color: rgb(14, 12, 12);
    display: flex;
    justify-content: start;
    flex-direction: row;
    font-size: 200%;
    margin-top: 0%;
    border-bottom: 5px solid white;
}

.body-links {
    margin: 0px 5%;
    display: grid;
    min-height: 500px;
    height: 70vh;
}

.sub-section {
    display: flex;
    width: 100%;
    justify-content: center;
}

h2 {
    position: relative;
    justify-content: flex-start;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
}

#banner h2{
    position: absolute;
    top: 30%;
    right: 70%;
    z-index: 1;
    justify-content: flex-start;
    color: white;
}

#newCollection {
    justify-content: flex-start;
    text-align: start;
}

#banner img {
width: 180%;
height: 50%;
}

#about img{
width: 50%;
height: 50%;
}

main {
    padding: 0%;
    align-items: flex-start;
    display: grid;
}

#work {
    background-position: start;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: flex;
    align-content: end;
    flex-direction: column;
}

footer a {
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-around;
    color: rgb(14, 12, 12);
    font-weight: 700;
    font-size: large;
    flex-direction: row;
}

.myGrid img{
    align-items: flex-start;
}

.myGrid h3 {
    border: 8px solid skyblue;
    position: absolute;
    color: grey;
    padding: 10px;
}